@import "https://fonts.googleapis.com/icon?family=Material+Icons";

canvas { 
  display: block; 
}

#controls{
  position: fixed;
  display: flex;
}

#webgl-error-message {
  text-align: center;
  background: #fff;
  color: #000;
  padding: 1.5em;
  width: 400px;
  margin: 5em auto 0;
}